

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: white;
}
header .menu-row {
    position: absolute;
    display: flex;
    top: 0px;
    left: 20px;
    line-height: 80px;
}

header .menu-row img {
    width: auto;
    height: 100%;
    height: 35px;
    margin-top: 25px;
}

header .menu-row .search {
    margin-left: 30px;
}

header .menu-row .search input {
    width: 300px;
    height: 35px;
    border-radius: 7px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    background-color: whitesmoke;
    background-image: url('img/icon/8-85921_search-instagram-search-icon-vector.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 17px;
    padding-left: 40px;
}

header .menu-row .search input ::placeholder{
    font-size: 7px;
    padding-left: 10px;
}

header .menu-row .menu ul {
    list-style-type: none;
    margin: 20px 20px;
    display: flex;
    width: 510px;
    height: 50px;
    /* text-decoration: none; */
}

header .menu-row .menu ul li {
    display: flex;
    margin: 0px 10px;
    padding: 0px 10px; 
    background-color: white;
    border-radius: 5px;
}

header .menu-row .menu ul li a {
    text-decoration: none;
    font-size: 14px;
    color: rgba(77, 77, 77, 0.77);
    line-height: 50px;
}

header .menu-row .menu ul li:hover a {
    color: rgb(83,102,223);
}

header .menu-row .avt {
    margin-left: 125px;
}
nav{
    width: 1300px;
}

nav #menu {
    width: 195px;
    height: 325px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    top: 82px;
}

#menu ul .software {
    width: 175px;
    height: 316px;
    display: flex;
    position: relative;
    margin: 0px 23px;
}
#menu .software .content{
    background-color: rgb(241,244,253);
}

#menu .content, 
#menu .list-menu li{
    width: 100%;
    height: 45px;
    border-radius: 7px;
    line-height: 45px;  
}

#menu .list-menu li {
    background-color: white;
}

#menu .content i {
    margin: 10px 15px;
    font-size: 22px;
}
#menu .software .content i,
#menu .software .content a{
    color:  rgb(83,102,223);
}

#menu .entertain .content i,
#menu .entertain .content a{
    color: rgba(77, 77, 77, 0.77);
}

#menu .entertain:hover .content i,
#menu .entertain:hover .content a{
    color:  rgb(83,102,223);
}

#menu .content a {
    text-decoration: none;
}

#menu .list-menu {
    position: absolute;
    top: 46px;
    left: 20px;
}

#menu .entertain:hover .content{
    background-color: rgb(241,244,253);
}

#menu .list-menu li {
    background-color: white;
    list-style-type: none ;
    position: relative;
    width: 160px;
}

#menu .list-menu li:hover i,
#menu .list-menu li:hover a{
    color:  rgb(83,102,223);
}

#menu .list-menu li i{
    font-size: 5px;
    line-height: 45px;
    margin: 0px 20px;
    position: absolute;
    color: rgba(77, 77, 77, 0.77);
}

#menu .list-menu li a{
    text-decoration: none;
    margin-left: 45px;
    color: rgba(77, 77, 77, 0.77);
}
#menu .entertain {
    width: 175px;
    height: 45px;
    display: flex;
    position: relative;
    margin: 0px 23px;
}

#menu .sidebar img {
    display: block;
    border-radius: 15px;
    width: 170px;
    height: 250px;
    margin: 7px 20px;
    box-shadow: 0px 0px 10px rgb(186, 186, 186) ;
}

#article {
    width: 1020px;
    height: 3000px;
    display: block;
    padding: 20px 20px;
    background-color: rgb(249,248,253);
    position: absolute;
    z-index: -1;
    top: 85px;
    left:225px;
    border-radius: 12px;
}
.article-1 {
    width: 1056px;
    height: 10px;
    display: flex;
}

.article-1 .container-1{
    width: 720px;
    height: 250px;
    display: flex;
    background-color: rgb(118,113,224);
    border-radius: 10px;
    position: relative;
}

.article-1 .container-1 h1 {
    width: 340px;
    height: 115px;
    display: flex;
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 25px;
    line-height: 40px;
    color: white;
}

.article-1 .container-1 h5{
    width: 315px;
    height: 75px;
    display: flex;
    position: absolute;
    top: 152px;
    left: 20px;
    color: rgba(241, 244, 253, 0.755);
    font-weight: 10;
    font-size: 15px;
}
.article-1 .container-1 img{
    position: absolute;
    left: 435px;
    top: 30px;
    width: 285px;
    height: 220px;
}

.icon-1 i {
    position: absolute;
    top: 222px;
    left: 334px;
    color: white;
    font-size: 12px;
}

.icon-2 i {
    position: absolute;
    top: 222px;
    left: 360px;
    font-size: 12px;
    color: rgb(241,244,253);
}

.article-1 .container-2 {
    z-index: -2;
    width: 280px;
    height: 250px;
    display: block;
    margin-left: 15px;
    background-color: rgb(255,208,210);
    border-radius: 10px;
    position: absolute;
    left: 750px;
}
.container-2 .content {
    width: 180px;
    height: 100px;
    margin-top: 30px;
    margin-left: 20px;
    line-height: 30px;
    font-size: 23px;
}
.container-2 h2{
    color: rgb(37,45,81);
}
.container-2 a{
    text-decoration: none;
    color: rgb(118,113,224);
    margin-top: 130px;
    margin-left: 20px;
    font-size: 12px;
}

.container-2 img {
    z-index: -1;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 10px;
    width: 150px;
    height: 175px;
}

.article-2 {
    position: absolute;
    top: 300px;
    z-index: 1;
}
.article-2 .container-1{
    background-color: rgb(249,248,253);
    width: 1020px;
    height: 270px;
}

.article-2 .container-1 .title{
    background-color: rgb(249,248,253);
    justify-content: space-between;
    display: flex;
}

.article-2 .title h5{
    font-size: 23px;
    color: rgb(37,45,81);
    background-color: rgb(249,248,253);
    width: 500px;
    display: flex;
    height: 30px;
}

.article-2 .title a{
    margin-top: 10px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(118,113,224);
}

.article-2 .content {
    margin: 20px 0px;
    border-radius: 10px;
    height: 100%;
    background-color: white;
    display: flex;
}

.article-2 .block {
    background-color: white;
    width: 340px;
    height: 100%;
    border-radius: 10px;
}

.app {
    background-color: white;
    display: flex;
    height: 80px;
    width: 100%;
    border-radius: 10px;
}

.app img{
    width: 50px;
    height: 50px;
    z-index: 3px;
    margin-left: 20px;
    margin-top: 25px;
}

.app .name {
    margin-top: 20px;
    margin-left: 10px;
    background-color: white;
    width: 180px;
    height: 55px;
}
.app .name h5{
    font-size: 14px;
    line-height: 20px;
    color: rgb(37,45,81)
}
.app .name h6 {
    font-size: 12px;
    font-weight: 100;
    color: rgba(77, 77, 77, 0.5);
}

.detail-block {
    width: 67px;
    height: 27px;
    background-color: white;
    border-radius: 10px;
    margin-top: 17px;
    border: 1px solid rgb(118,113,224);
}

.detail-block a {
    font-size: 13px;
    text-decoration: none;
    font-weight:bold;
    line-height: 27px;
    margin-left: 12px;
    color: rgb(118,113,224);
}

.detail-block:hover {
    background-color: rgb(118,113,224);
}

.detail-block:hover a {
    color: white;
}

.detail h6 {
    font-weight: 100;
    margin-top: 10px;
    margin-left: 14px;
    color: rgba(77, 77, 77, 0.77);
}

.article-3 {
    background-color: rgb(249,248,253);
    display: flex;
    width: 1020px;
    height: 500px;
    top: 610px;
    position: relative;
    margin-top: 50px;
    justify-content: space-between;
}

.article-3 .container {
    background-color: rgb(249,248,253);
    display: block;
    width: 500px;
    height: 100%;
}

.title {
    background-color: rgb(249,248,253);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.title h2 {
    color: rgb(37,45,81);
    line-height: 50px;
    font-size: 22px;
}

.title a {
    color: rgb(83,102,223);
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    margin-top: 5px;
}

.article-3 .content-1 {
    background-color: rgb(249,248,253);
    width: 100%;
    height: 420px;
    display: block;
    margin-top: 25px;
    border-radius: 12px;
}

.article-3 .content-1 .block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    background-color: rgb(249,248,253);
    border-radius: 12px;
}

.article-3 .block .top-app {
    display: block;
    width: 240px;
    height: 100%;
    background-color: rgb(229,232,248);
    border-radius: 12px;
}

.article-3 .block .top-app .logo {
    display: flex;
    background-color: rgb(229,232,248);
    width: 100%;
    height: 80px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px ;
}

.article-3 .block .logo img {
    width: 55px;
    height: 55px;
    margin: 15px 80px 0px 15px;
}

.article-3 .block .name {
    width: 100%;
    height: 59px;
    background-color: white;
}

.article-3 .block .name a {
    font-size: 13px;
    display: block;
    text-decoration: none;
    padding: 13px 0px 0px 10px;
    font-weight: bold;
    color: rgb(37,45,81);
}
.article-3 .block .name a:hover {
    color: rgb(83,102,223);
} 

.article-3 .block .name p {
    font-size: 11px;
    padding: 5px 0px 0px 10px;
    color: rgba(77, 77, 77, 0.5);
}

.article-3 .block .detail-app {
    width: 240px;
    height: 60px;
    background-color:white;
    display: block; 
    margin-top: 1px; 
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px; 
}
.article-3 .block .detail-app .detail-text-up {
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.article-3 .block .detail-app .detail-text-down {
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: space-between;
}

.article-3 .detail-app .text {
    background-color: white;
    display: flex;
}

.article-3 .detail-app .text .p1 {
    color: rgba(77, 77, 77, 0.5);
    font-size: 10px;
    margin-left: 10px;
    margin-right: 5px;
}
.article-3 .detail-app .text .p2{
    font-size: 10px;
    color: rgba(77, 77, 77,0.77);
    margin-right: 10px;
}

.article-3 .box-size{
    width: 100%;
    display: block;
    height: 20px;
}

.article-3 .content-2 {
    background-color: rgb(255,236,135);
    width: 100%;
    height: 200px;
    display: flex;
    border-radius: 12px;
    position: relative;
    margin-top: 25px;
}

.article-3 .content-2 .text {
    width: 220px;
    height: 160px;
    display: block;
    background-color: rgb(255,236,135);
    margin:20px 0px 0px 20px;
}

.article-3 .content-2 .text .p1 {
    z-index: 2;
    font-size: 20px;
    line-height: 50px;
    font-weight: 100;
}

.article-3 .content-2 .text .p2{
    z-index: 2;
    font-size: 13px;
    color: rgba(77, 77, 77, 0.65);
}

.article-3 .content-2 img{
    z-index: 1;
    position: absolute;
    width: 280px;
    height: 200px;
    left: 220px;
}

.article-3 .sub-container {
    margin-top: 30px;
    width: 100%;
    height: 190px;
    background-color: rgb(249,248,253);
}

.article-3 .content-3 {
    width: 100%;
    height: 140px;
    background-color: rgb(249,248,253);
}

.article-3 .app-up{
    background-color: rgb(249,248,253);
    display: flex;
    height: 60px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.article-3 .app-down{
    background-color: rgb(249,248,253);
    display: flex;
    height: 60px;
    width: 100%;
    border-radius: 10px;
}

.article-3 .app-up img,
.article-3 .app-down img{
    width: 60px;
    height: 60px;
    z-index: 3px;
    margin-left: 5px;
    margin-top: 5px;
}

.article-3 .app-up .name,
.article-3 .app-down .name {
    margin-top: 5px;
    margin-left: 10px;
    background-color: rgb(249,248,253);
    width: 180px;
    height: 55px;
    margin-right: 170px;
}
.article-3 .app-up .name h5,
.article-3 .app-down .name h5 {
    font-size: 13px;
    line-height: 15px;
    color: rgb(37,45,81);
}
.article-3 .app-up .name h6,
.article-3 .app-down .name h6 {
    font-size: 11px;
    font-weight: 100;
    color: rgba(77, 77, 77, 0.5);
    margin-top: 5px;
}

.article-3 .app-up .detail-block, 
.article-3 .app-down .detail-block {
    width: 67px;
    height: 27px;
    background-color: white;
    border-radius: 10px;
    margin-top: 0px;
    border: 1px solid rgb(118,113,224);
}

.article-4 {
    width: 1020px;
    height: 430px;
    background-color: rgb(249,248,253);
    display: block;
    position: relative;
    top: 630px;
}

.article-4 .content {
    width: 100%;
    height: 380px;
    background-color: rgb(249,248,253);
    display: flex;
    justify-content: space-between;
}

.article-4 .container {
    width: 320px;
    height: 380px;
    background-color: rgb(249,248,253);
}

.article-4 .container img {
    width: 320px;
    height:250px;
    border-radius: 12px;
    margin-top: 20px;
}

.article-4 .container h6 {
    font-size: 15px;
    margin-top: 10px;
    color: rgb(37,45,81);
    line-height: 20px;
}

.article-4 .container p {
    font-size: 12px;
    margin-top: 10px;
    color: rgba(77, 77, 77, 0.65)
}

.article-5 {
    width: 1020px;
    height: 550px;
    background-color: rgb(249,248,253);
    display: block;
    position: relative;
    top: 640px;
}

.article-5 .content{
    width: 100%;
    height: 480px;
    background-color: rgb(249,248,253);
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.article-5 .container-1,
.article-5 .container-2 {
    width: 495px;
    height: 480px;
    border-radius: 12px;
    background-color: rgb(249,248,253);
    position: relative;
    display: block;
}

.article-5 .container-1 img {
    width: 495px;
    height: 480px;
    border-radius: 12px;
    object-fit: cover;
    position: absolute;
}

.button {
    width: max-content;
    height: 22px;
    background-color: white;
    position: absolute;
    top: 285px;
    left: 20px;
    border-radius: 20px;
}

.button a {
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    line-height: 22px;
    font-size: 11px;
    color: rgba(77, 77, 77, 0.5);
}

.button:hover {
    background-color: rgb(83,102,223);
}

.button:hover a{
    color: white;
}

.article-5 .container-1 .name {
    position: absolute;
    width: 455px;
    height: 60px;
    top: 315px;
    padding: 10px 20px;
}

.article-5 .container-1 .name a {
    text-decoration: none;
}

.article-5 .container-1 .name h2 {
    color: white;
    font-size: 25px;
    line-height: 25px;
}

.article-5 .container-1 .name:hover h2 {
    color: rgb(83,102,223);
}

.download {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 495px;
    height: 70px;
    top: 410px;
}

.download .amount {
    height: 100%;
    width: 100px;
    display: flex;
    padding-left: 20px;
}

.download .amount i,
.download .amount p{
    line-height: 60px;
    font-size: 12px;
    color: rgb(186, 186, 186);
}

.article-5 .container-1 .download .detail-block {
    width: 100px;
    margin-right: 20px;
    margin-top: 0px;
} 

.article-5 .container-1 .download .detail-block a{
    margin-left: 27px;
}

.article-5 .container-1 .download .detail h6 {
    margin-left: 26px;
    font-size: 13px;
    margin-top: 7px;
    z-index: 10;
    color: rgb(186, 186, 186);
}

.article-5 .container-2 .sub-container {
    width: 100%;
    height: 146px;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 21px;
    display: flex;
    position: relative;
    z-index: 0;
}
.article-5 .container-2 .sub-container img {
    width: 180px;
    height: 146px;
    border-radius: 12px;
    object-fit: cover;
    position: absolute;
    right: 315px;
}

.article-5 .sub-container .name {
    width: 315px;
    height: 72px;
    display: block;
    background-color: white;
    position: absolute;
    left: 180px;
    z-index: 1;
}

.container-2 .button {
    top: 15px;
    box-shadow: 1px 1px rgb(186, 186, 186);
}

.container-2 .button a{
    padding: 10px 20px 10px 0px;
}

.article-5 .container-2 .sub-container .name h2 {
    position: absolute;
    top: 50px;
    left: 20px;
    font-size: 13px;
    color: black;
}
.article-5 .container-2 .sub-container .name h2:hover {
    color: rgb(83,102,223);
}

.container-2 .download {
    width: 295px;
    left: 185px;
    top: 72px;
    z-index: 3;
}